html{
    scroll-behavior: smooth;
}

body{
  font-family: Nunito, sans-serif;
  background-color:white;
  /* #FBF9F1 */
}
p{
  line-height: 1.5em;
}

.footer a{
  line-height: 1.5em;
  font-size:16px;
  color:white;
}

*:focus{
  border: blue;
}

h1{
  font-style:bold;
  font-size: 40px;
  font-weight:900;
  font-family: Nunito, sans-serif;
}
.nav a{
  text-decoration:none;
  font-size:16px;
  color:black;
}
footer{
  bottom: 0;
  width: 100%;
  height: 100px;
  background: black;
  font-size: 14px;
  color: white;
  text-align:center;
  grid-row-start: 4;
  grid-column: 1/ span 3;
}

.flex-container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  padding:30px;
  justify-content:space-between;
  align-content: center;
}

.item{
  width:100%;
  height:auto;
  margin-bottom:10px;
  box-shadow: 0px 0px 10px 2px #E1E1E1;
}

a:hover{
  background-image: linear-gradient(180deg,#E48F8F,#E48F8F);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 10px;
  }

/* a:active{
  background-color:#a3ceff;
  color:orange;
} */
.nav{
  margin-bottom:20px;
  justify-self:center;
  align-self:center;
  text-align:center;
}

.headshot img{
  width:400px;
  height:400px;
  object-fit: cover;
}
.nav li{
  display: inline;
  padding-right:15px;
}
/* .logo{
  margin-bottom:15px;
  margin-right:auto;
} */
.logo{
  margin-bottom:30px;
  justify-self:center;
  align-self:center;
  text-align:center;
}

.logo a{
  font-size: 48px;
  font-family: Nunito, sans-serif;
  font-weight:900;
  color:black;
  text-decoration:none;
  padding-bottom:20px;
  background-image: none;
}

.logo a:hover{
  background-color:none;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  top:-40px;
  position: relative;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top:0;
  left:0;
}

 .hamburger {
  display: inline-block;
  cursor: pointer;
  justify-content: flex-end;
}

.bar1, .bar2, .bar3 {
  width: 35px;
  height: 5px;
  background-color: black;
  border-radius:10px;
  margin: 6px 0;
  transition: 0.4s;
}

/* Rotate first bar */
.change .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
  transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
  opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
  transform: rotate(45deg) translate(-8px, -8px) ;
}
.change .body{
  b;
} */
@media screen and (max-width:800px){

}

@media screen and (min-width:800px){

/* .hamburger{
  display:none !important;
} */
.container{
  display:grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 1fr 8fr;
}
.flex-container{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  width:100%;
  padding:0px;
  grid-column-start: 2;
  grid-row-start: 2;
  justify-content:space-between;
  align-content: center;
  margin-bottom:40px;
}

.item{
  width:48%;
  height:auto;
  margin-bottom:35px;
  box-shadow: 0px 0px 10px 2px #E1E1E1;
  object-fit: cover;
}
.logo{
  grid-column-start: 2;
  grid-row: 1;
  justify-self:left;
  align-self:center;
}
.logo a{
  font-size: 48px;
  font-family: Nunito, sans-serif;
  font-weight:900;
  color:black;
}

.nav{
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self:right;
  align-self:center;
}



#iframe{
  height:80vw;
  width:100%;
}
.headshot img{
  width:400px;
  height:400px;
  object-fit: cover;
}
.headshot{

}
.about-text{
  justify-self:left;
  grid-column-start:2;
  width:50%;
}

form{
  padding-top:50px;
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 0s ease-out;
    transition: top 0s ease-out;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
