html{
    scroll-behavior: smooth;
}

body{
  font-family: soleil,sans-serif;
  background-color:white;
}
p{
  line-height: 1.5em;
}
a{
  text-decoration: none;
}
h2{
  font-size:30px;
}

legend{
  font-size:30px;
}
footer a{
  line-height: 1.5em;
  font-size:16px;
  color:black;
  text-decoration: none;
  grid-row-start: 2;
}
footer a:visited{
  color:black;
}
.nav .current{
  font-weight:900;
  text-decoration:underline;
}
*:focus{
  border: blue;
}
form{
  padding-top:50px;
  padding-bottom:50px;
  justify-self:center;
}
.parallax {
  background-image: url('../images/about/para.jpg');
  min-height: 200px;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width:100vw;
}
h1{
  font-style:bold;
  font-size: 40px;
  font-family: soleil,sans-serif;
font-weight: 700;
}
.nav a{
  text-decoration:none;
  font-size:16px;
  color:black;
}
.current-link {
    color:"orange";
}
input{

  width:80vw;
  grid-column-start: 2;
  margin-bottom: 20px;
  padding:15px;
  border-top: 0px solid white;
  border-bottom: 1px solid black;
  border-left: 0px solid white;
  border-right: 0px solid white;
  color:#595959;
  font-size:14px;

}

input[type=submit]{
  width:30vw;
  border:0px solid #CCCCCC;
  background-color:black;
  color:white;
  text-decoration:bold;
}
input[type=submit]:hover{
  background-color:#878787;
}
footer{
  bottom: 0;
  width: 100%;
  height: 110px;
  font-size: 16px;
  color: black;
  background-color:#F3EEE6;
  text-align:center;
  grid-row-start: 6;
  grid-column: 1/ span 3;
  justify-content:left;
  align-self: left;
}

#iframe{
  margin-bottom:50px;
  height:110vw;
  width:100%;
}

.about-text{
  margin-top:30px;
}

.headshot {
  width: 400px;
  height: 400px;
  perspective: 500px;
}
.content {
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  transition: transform 1s;
  transform-style: preserve-3d;
}

.headshot:hover .content {
  transform: rotateY( 180deg ) ;
  transition: transform 0.5s;
}

.front,
.back {
  position: absolute;
  height: 100%;
  width: 100%;
  line-height: 300px;
  color: #03446A;
  text-align: center;
  font-size: 60px;
  background-image: url('../images/about/headshot.jpg');
  background-size: 400px 400px;
  border-radius: 5px;
  backface-visibility: hidden;
}

.back {
  color: white;
  transform: rotateY( 180deg );
  background-image: url('../images/about/headshotoil.jpg');
}
footer p{
  padding-top: 30px;
  padding-bottom:30px;
  grid-column-start: 2;
  text-align:center;
}

.flex-container{
  display: -webkit-box; /*needed to work for Safari*/
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  padding:30px;
  -webkit-box-pack: space-between; /*needed to work for Safari*/
    justify-content:space-between;
  -webkit-box-align: center; /*needed to work for Safari*/
    align-items: center;
}

.item{
  width:100%;
  height:425px;
  margin-bottom:10px;
  box-shadow: 0px 0px 10px 2px #E1E1E1;
  object-fit: cover;
}
.item:hover{
  filter:grayscale(100%);
  transition: all .5s;
  transform:scale(1.1);
}

a:visited{
  text-decoration: none;
}
a:hover{
  background-image: linear-gradient(180deg,#eadcc5,#eadcc5);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% 10px;
  }

.nav{
  margin-bottom:20px;
  justify-self:center;
  align-self:center;
  text-align:center;
}

.nav li{
  display: inline;
  padding-right:15px;
}

.logo{
  margin-top:30px;
  margin-bottom:30px;
  justify-self:center;
  align-self:center;
  text-align:center;
  width:100px;
}

.logo a{
  font-size: 48px;
  font-family: soleil, sans-serif;
  font-weight:700;
  color:black;
  text-decoration:none;
  padding-bottom:20px;
  background-image: none;
}

.logo a:hover{
  background-color:none;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  top:-40px;
  position: relative;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
  top:0;
  left:0;
}


@media screen and (min-width:600px) and (max-width:800px){
  .item{
    width:48%;
    height:300px;
    margin-bottom:35px;
    box-shadow: 0px 0px 10px 2px #E1E1E1;
    object-fit: cover;
  }
  .about-text{
    width:52%;
  }
  .headshot {
    width: 300px;
    height: 300px;
    perspective: 500px;
    align-self:center;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
  }
  .parallax{
    width:100vw;
  }
  .headshot:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }

  .headshot .content:focus {
    transform: rotateY( 180deg ) ;
    transition: transform 0.5s;
  }

  .front,
  .back {
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../images/about/headshot.jpg');
    background-size: 300px 300px;
    border-radius: 5px;
    backface-visibility: hidden;
  }
}
@media screen and (min-width:800px){


.container{
  background-color:white;
  display:grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-rows: 300px 5fr 1fr;
}
.flex-container{
  position:relative;
  display: -webkit-box;
  display:flex;
  flex-direction:row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap:wrap;
  width:100%;
  padding:0px;
  grid-column-start: 2;
  grid-row: 2 / -1;
  -webkit-box-pack: space-between; /*needed to work for Safari*/
  justify-content:space-between;
  -webkit-box-align: center;
  align-content: top;
  margin-bottom:40px;
}
.parallax{
  width:58vw;
}
.item{
  width:48%;
  height:400px;
  margin-bottom:35px;
  box-shadow: 0px 0px 10px 2px #E1E1E1;
  object-fit: cover;
}

.logo{
  grid-column-start: 2;
  grid-row: 1;
  justify-self:left;
  align-self:center;
}
input{

  width:56vw;
  grid-column-start: 2;
  margin-bottom: 20px;
  padding:15px;
}

input[type=submit]{
  width:10vw;
}
input[type=submit]:hover{
  background-color:#878787;
}
.logo a{
  font-size: 48px;
  font-weight:900;
  color:black;
}

.nav{
  grid-column-start: 2;
  grid-row-start: 1;
  justify-self:right;
  align-self:center;
}
.contact{
  grid-column-start: 2;
  grid-row-start: 2;
}

#iframe{
  height:80vw;
  width:100%;
}

.about-text{
  justify-self:left;
  grid-column-start:2;
  width:50%;
}



@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 0s ease-out;
    transition: top 0s ease-out;
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    transition: transform 0s;
    transform-style: preserve-3d;
  }

  .headshot:hover .content {
    transform: rotateY( 180deg ) ;
    transition: transform 0s;
  }
  .item:hover{
    filter:grayscale(100%);
    transition: all 0s;
    transform:scale(1.1);
  }
}
